
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d400b8278b.js" crossorigin="anonymous"></script>
    <title>OHASHI</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <a href="./index.html"><img id="logo" src="/images/logo.png"></a>
        </div>
        <nav id="menu">
            <ul>
                <li class="cartamenu"><a href="">Menu</a>
                    <div class="container-menu">
                        <div class="carta-menu">
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                            <div class="plato">
                                <p class="nombre-producto">nombre producto</p>
                                <p class="descripcion-producto">descripcion</p>
                            </div>
                        </div>
                        <div class="pedir-reservar">
                            <div class="pedir">
                                <p>PEDIR</p>
                                <a href="carta.html">
                                    <i></i>
                                </a>
                            </div>
                            <div class="reservar">
                                <p>RESERVAR</p>
                                <a href="reservar.html">
                                    <i></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                <li><a href="">Nosotros</a></li>
                <li class="loginli"><a href="">Login</a>
                    <div class="container-formulario">
                        <form class="login">
                            <h3>INICIAR SESIÓN</h3>
                            <input class="usuario" type="email" name="email" placeholder="E-MAIL">
                            <input class="usuario" type="password" name="pass" placeholder="CONTRASEÑA">
                            <input class="boton" type="submit" value="INICIAR SESIÓN">
                        </form>
                        <form class="register">
                            <h3>REGISTRO</h3>
                            <input class="usuario" type="email" name="email" placeholder="E-MAIL">
                            <input class="usuario" type="password" name="pass" placeholder="CONTRASEÑA">
                            <input class="usuario" type="password" name="pass" placeholder="REPETIR CONTRASEÑA">
                            <div class="container-domicilio">
                                <input class="domicilio" type="text" name="Calle" placeholder="CALLE">
                                <input class="domicilio" type="text" name="Number" placeholder="NÚMERO">
                            </div>
                            <input class="usuario" type="text" name="Phone" placeholder="NÚMERO DE TELEFONO">
                            <input class="boton" type="submit" value="REGISTRARSE">
                        </form>
                    </div>
                    
                </li>
                <li class="carritoli"><a href=""><i class="fas fa-cart-shopping"></i></a>
                    <div class="container-carrito">
                        <h3>TU PEDIDO</h3>
                        <div class="container-productos">
                            <div class="productos">
                                <div class="container-fotoproducto">
                                    <img class="imagenproducto" src="/images/pexels-yang-hao-10692489.jpg"></img>
                                </div>
                                <div class="container-descripcion">
                                    <p class="nombreproductocarrito">PRODUCTO</p>
                                    <p class="preciocarrito">$$$$$</p>
                                    <input class="cantidad" type="number"  name="quantity" min="1" max="10">
                                </div>
                            </div>
                            <div class="productos">
                                <div class="container-fotoproducto">
                                    <img class="imagenproducto" src="/images/pexels-yang-hao-10692488.jpg"></img>
                                </div>
                                <div class="container-descripcion">
                                    <p class="nombreproductocarrito">PRODUCTO</p>
                                    <p class="preciocarrito">$$$$$</p>
                                    <input class="cantidad" type="number"  name="quantity" min="1" max="10">
                                </div>
                            </div>
                        </div>
                        <div class="container-resumentotal">
                            <div class="container-envio">
                                <p>COSTO DE ENVÍO</p>
                                <input class="codigopostal" type="adress" name="adress" placeholder="INGRESÁ TU CÓDIGO POSTAL">
                            </div>
                            <div class="container-subtotal">
                                <div class="subtotalyenvio">
                                    <p>SUBTOTAL</p>
                                    <p>$$$$$</p>
                                </div>
                                <div class="subtotalyenvio">
                                    <p>ENVIO</p>
                                    <p>$$$$$</p>
                                </div>
                            </div>
                            <div class="container-total">
                                <p>TOTAL</p>
                                <p>$$$$$</p>
                            </div>
                        </div>
                       
                        <input class="botoniniciarcompra" type="submit" value="INICIAR COMPRA">
                        <input class="botonvermas" type="submit" value="VER MAS PRODUCTOS">
                        
                    </div>
                </li>
            </ul>
              
        </nav>
    </header>
    <main>
    <p id="texto-interesante">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe quo non obcaecati tempora suscipit nesciunt
    fugiat rerum amet blanditiis vel quasi officia debitis iusto totam expedita, eius, dolores ipsa ea.</p>

    <div class="horarios">
    <p>LUNES - JUEVES 20:00 HS. - 00:00 HS.</p>
    <p>VIERNES - SÁBADOS 19:00 HS. - 02:00 HS.</p>
    </div>
    </main>

    <footer>
        <div class="contactos">
        <a href="#"><i class="fa-solid fa-envelope"></i>OHASHIGM@GMAIL.COM</a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>@OHASHIGM</a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i>+54348450351</a>
        </div>
    </footer>
</body>
</html>