<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylelogin.css" >
    <link rel="stylesheet" href="/static/css/style.css">
    <title>OHASHI</title>
</head>
<body>

    <div>
    <h3>INICIAR SESIÓN</h3>
    <form action="/" method="POST">
    <input type="email" name="email" placeholder="E-MAIL">
    <input type="password" name="pass" placeholder="CONTRASEÑA">
    <input type="submit" value="INICIAR SESIÓN">
    </form>
    </div>

    
    <footer>
        <div class="horarios">
          <p>LUNES - JUEVES 20:00 HS. - 00:00 HS.</p>
          <p class="vie-sab">VIERNES - SÁBADOS 19:00 HS. - 02:00 HS.</p>
        </div>

        <div class="contactos">
          <a href="#"><i class="fa-solid fa-envelope"></i>OHASHIGM@GMAIL.COM</a>
          <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>@OHASHIGM</a>
          <a href="#"><i class="fa-brands fa-whatsapp"></i>+54348450351</a>
        </div>
    </footer>

    
</body>
</html>