<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <title>OHASHI</title>
    </head>
  <body>
    <%-include('partials/header.ejs')%>

      <div class="container-menu">
        <div class="carta-menu">
          <p>ACA IRIAN LOS PRODUCTOS CON JAVASCRIPT</p>
        </div>
        <div class="pedir-reservar">
          <div class="pedir">
            <p>PEDIR</p>
            <a href="carta.html">
              <i></i>
            </a>
          </div>
          <div class="reservar">
            <p>RESERVAR</p>
            <a href="reservar.html">
              <i></i>
            </a>
          </div>
        </div>
      </div>
    

    <%-include('partials/footer.ejs')%>
  </body>
</html>
