<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <link rel="stylesheet" href="/css/menu.css">
        <title>OHASHI</title>
    </head>
  <body>
    <%-include('partials/header.ejs')%>

      <section class="cartaMenu">


      </section>


        <div class="pedirReservar">
          <div class="pedir">
            <a href="carta.html">
              <i></i> PEDIR
            </a>
          </div>

          <div class="reservar">
            <a href="reservar.html">
              <i></i>RESERVAR
            </a>
          </div>
        </div>

    

    <%-include('partials/footer.ejs')%>
  </body>
</html>
