<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <link rel="stylesheet" href="/css/nosotros.css">
        <title>OHASHI</title>
    </head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container-nosotros">
        <p class="texto-nosotros">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            sapiente ratione necessitatibus quaerat, nulla quidem! Sunt eos
            esse iure, eaque perspiciatis dignissimos voluptas officiis
            consequatur animi. Cum nulla doloremque mollitia? Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Necessitatibus,
            officia harum, voluptatibus iste aliquam, sunt commodi
            reprehenderit obcaecati laborum culpa molestiae. Provident
            repudiandae non placeat dolore ea voluptatum quibusdam laudantium?
        </p>
    </div>
    <%-include('partials/footer.ejs')%>
</body>

</html>