<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <link rel="stylesheet" href="/css/nosotros.css">
        <title>OHASHI</title>
    </head>
<body>
    <%-include('partials/header.ejs')%>
    <p>HOLa soy la pagina de nosotros</p>
    <%-include('partials/footer.ejs')%>
</body>

</html>