<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> OHASHI </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product.css" >
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="product-container">
        <article>
            <img src="images/plato-1.jpg" alt="plato-1">
            <div class="product-descrip">
                <h3>NOMBRE DEL PLATO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sapiente ratione necessitatibus quaerat, nulla quidem! Sunt eos esse iure, eaque perspiciatis dignissimos voluptas officiis consequatur animi. Cum nulla doloremque mollitia?</p>
                <p class="price"> $0000 </p>
            </div>
            <div class="box-cantidades">
                <p id="cantidad">CANTIDADES</p>
                <p id="aclaraciones">ACLARACIONES</p>
                <p>AGREGAR AL CARRITO</p>
            </div>
        </article>
    </div>

</body>
</html>