<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/profile.css" />
    <title>OHASHI</title>
  </head>
  <body>
    <%-include('partials/header.ejs')%>
    <div class="container-formulario">
      <form class="login">
          <h3>INICIAR SESIÓN</h3>
          <input class="usuario" type="email" name="email" placeholder="E-MAIL">
          <input class="usuario" type="password" name="pass" placeholder="CONTRASEÑA">
          <input class="boton" type="submit" value="INICIAR SESIÓN">
      </form>
      <form class="register">
          <h3>REGISTRO</h3>
          <input class="usuario" type="email" name="email" placeholder="E-MAIL">
          <input class="usuario" type="password" name="pass" placeholder="CONTRASEÑA">
          <input class="usuario" type="password" name="pass" placeholder="REPETIR CONTRASEÑA">
          <div class="container-domicilio">
              <input class="domicilio" type="text" name="Calle" placeholder="CALLE">
              <input class="domicilio" type="text" name="Number" placeholder="NÚMERO">
          </div>
          <input class="usuario" type="text" name="Phone" placeholder="NÚMERO DE TELEFONO">
          <input class="boton" type="submit" value="REGISTRARSE">
      </form>
  </div>

    <%-include('partials/footer.ejs')%>
  </body>
</html>
