<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> REGISTRO </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="/public/css/styleregister.css" rel="stylesheet">
    <title>OHASHI</title>
</head>
<body>
  <div class="container-form">
    <form action="register.html"> 
        <div class="container-usuario"> 
            <input class="usuario" type="email" name="email" placeholder="E-mail"> 
            <input class="usuario" type="password" name="pass" placeholder="Contraseña">
            <input class="usuario" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            
        </div>
        <div class="container-nacimiento">
            <label>Fecha de nacimiento:</label>
            <input class="f-nacimiento" type="date"  name="date">
            
        </div>
        <div class="container-domicilio">
            <input class="domicilio" type="text" name="adress" placeholder="Domicilio">
        </div>
    </form>
  </div>  
</body>    
  

</html>