<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> REGISTRO </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="/public/css/styleregister.css" rel="stylesheet">
    <title>OHASHI</title>
</head>

<body>
    <header>
        <div class="container-logo">
            <a href="./index.html"><img id="logo" src="/images/logo.png"></a>
        </div>
        <div>
            <form class="register">
                <h3>REGISTRO</h3>
                    <input class="usuario" type="password" name="pass" placeholder="CONTRASEÑA">
                    <input class="usuario" type="email" name="email" placeholder="E-MAIL">
                <div class="container-domicilio">
                    <input class="domicilio" type="text" name="Calle" placeholder="CALLE">
                    <input class="usuario" type="password" name="pass" placeholder="REPETIR CONTRASEÑA">
                </div>
                    <input class="domicilio" type="text" name="Number" placeholder="NÚMERO">
                    <input class="usuario" type="text" name="Phone" placeholder="NÚMERO DE TELEFONO">
                    <input class="boton" type="submit" value="REGISTRARSE">
            </form>
        </div> 
    </header>    
</body>    
</html>