body{
    background-image: url(/images/pexels-lisa-fotios-776538.jpg);
    background-size: 100vmax;
}

div.container-productos{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
    background-color: transparent;
    margin-bottom: 10px;
}
div.producto{
    display: flex;
    flex-direction: row;
    background: rgba(94, 73, 72, 0.60);
    margin: 10px, 0px;
    width: 89vw;
    padding: 10px 0px;
    padding-left: 5px;
}
div.container-fotoproducto{
    width: 115px;
    height: 70px;
    margin-right: 10px;
}
.imagenproducto{
    width: 115px;
    height: 70px;
}
div.container-descripcion{
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
}
.nombreproductocarrito, .preciocarrito{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}
.cantidad{
    width: 30px;
    height: 15px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.85);
    border: none;
    border-radius: 3px;
}
.container-resumentotal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.container-envio{
    display: flex;
    flex-direction: row;
    width: 80vw;
    background-color: rgba(217, 217, 217, 0.77);
    padding: 5px 0px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.container-envio p{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: black;
    margin-left: 10px;
 
}
input.codigopostal{
    width: 120px;
    height: 13px;
    margin-right: 10px;
    border: none;
}
.codigopostal::placeholder{
    color: black;
    padding: 2px;
    text-align: center;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
}
.container-subtotal{
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: rgba(217, 217, 217, 0.77);
    height: fit-content;
    border-bottom: 1px solid black;
}
.subtotalyenvio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subtotalyenvio p{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: black;
    text-align: center;
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 10px;
}
.container-total{
    display: flex;
    flex-direction: row;
    width: 80vw;
    background-color: rgba(217, 217, 217, 0.77);
    height: 40px;
    justify-content: space-between;
}
.container-total p{
    font-family: 'Cinzel';
    font-style: bold;
    font-weight: 700;
    font-size: 10px;
    color: black;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
div.container-botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin-top: 10px;
}
input.botoniniciarcompra{
    width: 200px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    text-align: center;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}
input.botoniniciarcompra:hover{
    background-color: rgba(94, 73, 72, 0.7);
    color: white;
}
.botonvermas{
    width: 230px;
    height: 45px;
    border: none;
    background-color:transparent;
    color: white;
    text-align: center;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.botonvermas:hover{
    backdrop-filter: blur(1.5px);
    font-weight: bold;
    color: black;
    text-decoration: underline solid 2px;
}
@media (min-width: 768px){
    
    body{
        background-color: black;
    }
    
    div.container-productos{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: fit-content;
        margin-top: -10px
    }
    div.producto{
        display: flex;
        flex-direction: row;
        background: rgba(94, 73, 72, 0.5);
        margin-bottom: 5px;
        width: 85vw;
        padding: 10px;
    }
    div.container-fotoproducto{
        width: 170px;
        height: 120px;
        margin-right: 10px;
    }
    .imagenproducto{
        width: 170px;
        height: 120px;
    }
    div.container-descripcion{
        margin-left: 20px;
        width: auto;
        height: 120px;
    }
    .nombreproductocarrito, .preciocarrito{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: white;
        margin-bottom: 10px;
    }
    .nombreproductocarrito{
        margin-top: 10px;
       
    }
    .cantidad{
        width: 45px;
        height: 20px;
        text-align: center;
        background-color: rgba(217, 217, 217, 0.85);
        border: none;
        border-radius: 3px;
        margin-top: 5px;  
    }
    .container-resumentotal{ 
        background-color: transparent;
        margin-top: 30px;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
    }
    .container-envio{
        background-color: rgba(217, 217, 217, 0.77);
        display: flex;
        flex-direction: row;
        padding: 5px 0px;
        width: 450px;
        height: 30px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    .container-envio p{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: black;
    }
    input.codigopostal{
        width: 220px;
        height: 15px;
        border: none;
    }
    .codigopostal::placeholder{
        color: black;
        padding: 2px;
        text-align: center;
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }
    .container-subtotal{
        background-color: rgba(217, 217, 217, 0.77);
        width: 450px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        border-bottom: 1px solid black;
    }
    .subtotalyenvio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .subtotalyenvio p{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: black;
        text-align: center;
        margin-left: 10px;
        margin-top: 7px;
        margin-right: 10px;
    }
    .container-total{
        background-color: rgba(217, 217, 217, 0.77);
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
        width: 450px;
    }
    .container-total p{
        font-family: 'Cinzel';
        font-style: bold;
        font-weight: 700;
        font-size: 14px;
        color: black;
        text-align: center;
        margin-left: 10px;
        margin-top: 20px;
        margin-right: 10px;
    }
    div.container-botones{
        display: flex;
        width: 100%;
        align-items: center;

    }
    
    input.botonvermas{
        width: 230px;
        height: 45px;
        border: none;
        background-color:transparent;
        color: white;
        text-align: center;
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
    }
    
}