body{
    background-image: url(/images/pexels-cottonbro-3296277.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
h1{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 20px;
}
div.container-edit{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
div.container-edit form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}
div.container-items, div.container-img{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
    font-size: 13px;
}
input , textarea{
    background: #642722;
    opacity: 0.9;
    border: none;
    margin-top: 8px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 11px;
    color: white;
}
.input-nombre{
    height: 20px;
    width: 80%;
    margin-left: 3%;
}
textarea{
    height: 60px;
    width: 90%;
    margin-left: 3%;
}
.input-precio{
    width: 30%;
    height: 20px;
    margin-left: 3%;
}
div.container-img input{
    width: 100%;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
    font-size: 10px;
}
div.container-boton, form.container-boton{
    width: 100%;
    display: flex;
    justify-content: center;
}
div.container-boton button, form.container-boton button{
    color: white;
    border: none;
    width: 100%;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 12px;
    height: 30px;
}
div.container-boton button{
    width: 75%;
    background-color: #642722;
}
form.container-boton button{
    margin-top:-20px;
    width: 35%;
    background:rgba(94, 73, 72, 0.80);
}

@media (min-width: 768px){
    body{
        background-image: url(/images/fondo-index.jpg);
        background-size: cover;
        box-sizing: border-box;
        background-repeat: no-repeat;
    }
    h1{
        font-family: 'Cinzel', serif;
        font-weight: 400;
        color: white;
        font-size: 20px;
        margin-left: 5%;
        margin-top: -10px;
    }
    div.container-edit{
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    div.container-edit form{
        display: flex;
        flex-direction: column;
        width: 45%;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6); 
        backdrop-filter: blur(1px);
        padding: 20px;
    }
    div.container-items, div.container-img{
        width: 100%;
        height: fit-content;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    div.container-img{
        justify-content: space-between;
    }
    
    label {
        font-family: 'Cinzel', serif;
        font-weight: 400;
        color: white;
        font-size: 17px;
    }
    input , textarea{
        background: rgba(217, 217, 217, 0.8);
        border: none;
        font-family: 'Cinzel', serif;
        font-weight: 400;
        color: black;
        font-size: 14px;
        margin-top: 0%;
    }
    .input-nombre{
        height: 30px;
        width: 55%;
        margin-left: 3%;
    }
    textarea{
        height: 50px;
        width: 70%;
        margin-left: 3%;
    }
    .input-precio{
        width: 25%;
        height: 30px;
        margin-left: 3%;
    }
    div.container-img input{
        width: 70%;
        font-family: 'Cinzel', serif;
        font-weight: 400;
        color: white;
        font-size: 12px;
    }
    div.container-boton, form.container-boton{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.container-boton button, form.container-boton button{
        color: black;
        border: none;
        font-family: 'Cinzel', serif;
        font-weight: 400;
        font-size: 16px;
        height: 30px;
    }
    div.container-boton button{
        width: 60%;
        background: rgba(217, 217, 217, 0.77);
    }
    form.container-boton button{
        width: 40%;
        background-color: #642722;
    }


}