body{
    background-image: url(/images/pexels-cottonbro-3296277.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

form h3{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 43px;
    text-align: center;
    color: white;
    margin-top: -15px;
}


@media (min-width: 768px){

    body{
        background-image: url(/images/fondo-index.jpg);
        background-size: cover;
        box-sizing: border-box;
    }
   
    form h3{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 43px;
        text-align: center;
        color: white;
    }
    
    form input{
        background: #642722;
        mix-blend-mode: lighten;
        opacity: 0.9;
        border: none;
        color: white;
    }
  
    
    
    footer{
        margin-top: 0;
    }
    
}