body{
   background-color: rgba(33, 234, 234, 0.6);
}
.editbtn{
    font-size: 15px;
    text-align: center;
    color: white;
    border-bottom: 1px dotted white;
    width: 40px;
    background-color: none;
}
.agrCarrito{
    font-size: 15px;
    text-align: center;
    color: white;
    border-bottom: 1px dotted white;
    background-color: none;
    width: 110px;
}
.carta-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 18px;
    width: 100%;
    height:fit-content;
    backdrop-filter: blur(2px);
    position: relative;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-bottom: 1rem;
}

.container-titulo{
    position: absolute;
    margin-right: 92%;
    margin-top: -18px;
    background-color: black;
    width: 60px;
    padding-right: 10px;
    height: 30px;
}

h1.titulo-carta{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 8px;
}

article.plato a{
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 10px 5px;
}
article.plato:hover{
    /* background-color: rgba(94, 73, 72, 0.6); */
    background: #642722;
    opacity: 0.7;
}

.container-imagen{
    width: 80px;
    height: 55px;
    /* padding: 0px 15px; */
}

.imagen-carta{
    width: 80px;
    height: 55px;
}

.container-descripcion{
    width: 98%;
    height: 55px;
    margin: 0%;
}

p.nombre-producto{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    padding-left: 8px;
    margin: 0%;
    margin-top: 1px;
}

p.descripcion-producto{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #FFFFFF;
    padding-left: 8px;
    margin: 3px 0px;
    width: 100%;
}
p.precio-producto{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    padding-left: 8px;
    margin: 0%;
}

a{
    text-decoration: none;
}

.container-pedir-reservar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.pedir, .reservar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    width: 30vw;
    height: 18vh;
    background: #642722;
    opacity: 0.98;
}

.pedir p, .reservar p{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 46px;
    color: #FFFFFF;
    margin-top: -3px;
}

div.pedir i , div.reservar i{
    color: white;
    width: 35px;
    height: 35px;  
    margin-top: -10px;
}
a .pedir .arroz, a .reservar .libro{
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: white;
}
a div.pedir:hover, a div.reservar:hover{
    background-color: rgba(94, 73, 72, 0.6);
}


@media (min-width: 768px){
    body{
        background-color: black;
    }

    .carta-menu{
        display: flex;
        flex-direction: column;
        top: 10px;
        width: 100%;
        height:fit-content;
        justify-content: space-around; 
        backdrop-filter: blur(2px);
        position: relative;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
    }

    .container-titulo{
        position: absolute;
        margin-right: 95%;
        margin-top: -850px;
        background-color: black;
        width: 68px;
        padding-right: 10px;
        height: 30px;
    }

    h1.titulo-carta{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #FFFFFF;
    }

    article.plato a{
        align-items: center;
    }
    .container-descripcion{
        width: 100%;
        height: 110px;

    }
    
    .container-imagen{
        width: 150px;
        height: 110px;
    }

    .imagen-carta{
        width: 150px;
        height: 110px;
        align-items: center;
        display: flex;
    }

    p.nombre-producto{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        padding-left: 8px;
        margin: 0%;
        margin-top: 6px;
    }

    p.descripcion-producto{
        font-family: 'Cinzel';
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
        padding-left: 8px;
    }

    p.precio-producto {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        padding-left: 8px;
    }

    a{
        text-decoration: none;
    }

    .container-pedir-reservar{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .pedir, .reservar{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        width: 350px;
        height: 180px;
        background: #642722;
        opacity: 0.98;
        margin-top: 20px;
        z-index: 100;
    }

    .pedir p, .reservar p{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 46px;
        color: #FFFFFF;
        margin-top: 10px;
    }

    a .pedir .arroz, a .reservar .libro{
        font-size: 40px;
        text-align: center;
        width: 100px;
        height: 100px;
        color: white;
    }
   
    a div.pedir:hover, a div.reservar:hover{
        background-color: rgba(94, 73, 72, 0.6);
    }

    .editbtn{
        font-size: 20px;
        text-align: center;
        color: white;
        border-bottom: 1px dotted white;
        width: 50px;
        background-color: none;
    }
    .agrCarrito{
        font-size: 20px;
        text-align: center;
        color: white;
        border-bottom: 1px dotted white;
        background-color: none;
        width: 150px;
    }
}