* {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
    font-size: 35px;
}

nav {
    position: fixed;
    display: flex;
}

header{
    display: flex;
    flex-direction: row;
    margin-bottom: -100px;
}

#menu {
    position:absolute;
    right: 40px;
    top: 25px; 
    flex-direction: row;
}

#menu ul {
    display: flex;
    align-items: flex-end;
}

#menu ul li{
    padding: 5px;
    list-style: none;
}

#menu ul li a{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

#logo{
    width: 505px;
    height: 385px;
}

.container-logo{
    width:fit-content;
    margin-top: -85px;
    margin-left: -70px;
    display: flex;
}



/* PRODUCTO */

.product-container article {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #FFFFFF;
}

.product-container img {
    width: 90%;
    background-color: #5E4948;
    padding: 50px 20px;
    margin: 20px 20px;
    margin-top: 50px;
}

.product-descrip {
    margin: 20px 30px;
    text-align: center;
}

.product-descrip h3 {
    background-color: #5E4948;
    padding: 10px;
    justify-content: center;
    margin: 20px;
    display: inline-block;
}

.price {
    font-weight: bold;
}

.box-cantidades {
    background-color: #5E4948;
    width: 90%;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin: 20px 20px;
}

.cantidad{
    width: 45px;
    height: 20px;
    text-align: end;
    background-color: rgba(217, 217, 217, 0.85);
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px ;
}

.texto-cantidad {
    text-align: center;
}

#aclaraciones {
    padding: 10px;
    background-color: #745C5A;
}

.texto-aclaracion {
    background-color: white;
    width: 80%;
    height: 70px;
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.box-cantidades p {
    background-color:#5E4948;
}

.pedir-button {
    background-color: #FFFFFF;
    padding: 5px;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: -15px;
}

.pedir-button:hover {
    background-color: #5E4948;
    color: white;
}



/* RESPONSIVE */

/* TABLET */

/* DESKTOP */
@media only screen and (min-width: 992px) {
    nav {
        position: fixed;
    }
    
    header{
        display: flex;
        flex-direction: row;
    }
    
    #menu{
        position:absolute;
        right: 40px;
        top: 25px; 
    }
    
    #menu ul li{
        padding: 5px;
        list-style: none;
    }
    
    #menu ul li a{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #logo{
        width: 505px;
        height: 385px;
    }
    
    .container-logo{
        width: fit-content;
        margin-top: -85px;
        margin-left: -70px;
    }


    main {
        display: flex;
        
    }

    .product-container article {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: auto 20px;
        color: #FFFFFF;
        align-items: center;
    }
    
    .product-container img {
        width: 40%;
        background-color: #5E4948;
        padding: 50px 20px;
        margin: 20px 20px;
        margin-top: 50px;
    }
    
    .product-descrip {
        margin: 10px 40px;
        width: 50%;
    }
    
    .product-descrip h3 {
        background-color: #5E4948;
        padding: 10px;
        justify-content: center;
        margin: auto;
        display: inline-block;
        margin: 50px;
        font-size: 35px;
        font-weight: lighter;
    }
    
    .price {
        font-weight: bold;
        margin: 65px;
        font-size: 30px;
    }
    
    .box-cantidades {
        background-color: #5E4948;
        width: 100%;
        padding: 10px;
        text-align: center;
        margin-bottom: 50px;
        margin: 20px 20px;
    }
    
    .cantidad{
        width: 50px;
        height: 25px;
        text-align: end;
        background-color: rgba(217, 217, 217, 0.85);
        border: none;
        border-radius: 3px;
        margin-top: 5px;
    }
    
    #aclaraciones {
        padding: 10px;
        background-color: #745C5A;
    }

    .texto-aclaracion {
        background-color: white;
        width: 80%;
        height: 70px;
        margin: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .box-cantidades p {
        background-color:#5E4948;
    }

    .pedir-button {
        background-color: #FFFFFF;
        padding: 5px;
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-top: -15px;
    }
}