*{
    background-color: black;
}

div.container-registro {
    background-color: rgba(0, 0, 0, 0.76);
   
    width: 1070px;
    height: 663px;
    left: 172px;
    top: 251px;
    display: flex;
    flex-direction: column;
}
div.container-usuario {
    display: flex;
    flex-direction: column;
   
}

.usuario {
    padding: 5px;
    border: none;
    margin: 10px;
    color: white;
    width: 2px;
    background-color: #642722;
    mix-blend-mode: lighten;
    opacity: 0.9;
}

div.container-domicilio {
    display: flex;
    flex-direction: row;

}

.domicilio {
    padding: 5px;
    border: none;
    margin: 10px;
    color: white;
    background-color: #642722;
    mix-blend-mode: lighten;
    opacity: 0.9;
}