*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/fondo-index.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 1400px 800px;
}
.container-formulario{
    width: 900px; 
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(2px);
    height: fit-content;
    margin-left: 15%;
    justify-content: space-around;
    margin-top: -90px;
}
form h3{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    color: white;
}
form.login, form.register{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
form input{
    background: #642722;
    mix-blend-mode: lighten;
    opacity: 0.9;
    border: none;
}
.usuario{
    margin:10px;
    width: 345px;
    height: 50px;
}
::placeholder{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 5px;
}
.container-domicilio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 345px;
    margin-left: 10px;
    padding: 10px 0px;
}
form input.domicilio{
    width: 160px;
    height: 50px;
    
}
.boton{
    margin-left: 70px;
    margin-top: 20px;
    width: 235px;
    height: 50px;
    padding: 5px;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}
