body{
    background-image: url(/images/fondo-pedir-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3.titulo-reservar{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 10%;
}
form.reserva{
    width: 80%;
    background-color: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 8px;
    padding: 10px;
}

div.container-datos{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 15px;       
}
div.container-nom-ape-num{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
div.container-nom-ape-num input{
    margin-bottom: 10px;
}
input.nro-tel{
    width: 88%;
    align-self: center;
    margin-top: -10px;
}
div.container-horario{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
div.container-horayfecha{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 15px;
    align-self: center;
    justify-content: space-between;
}
div.container-cant-personas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
input.cantidad{

    margin-top: 5px;
}
form.reserva label{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

form.reserva input{
    border: none;
   
    padding: 3px;
    background-color: rgba(217, 217, 217, 0.2);
   
    backdrop-filter: blur(1px);
    color: black;
}
form.reserva input::placeholder{
    color: black;
    opacity: 10;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}
.boton-reservar{
    width: 70%;
    border: none;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    align-self: center;
    margin-top: 10px;
}
.boton-reservar:hover{
    background-color: black;
    opacity: 0.7;
    color: white;
    border:none
}
@media (min-width: 768px){
    body{
        background-image: url(/images/fondo-pedir.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    } 
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h3.titulo-reservar{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 20px;
        color: #FFFFFF;
        margin-left: 0;
        margin-top: -25px;
        text-align: center;
    }
    form.reserva{
        width: 60%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 10px;
    }
    
    div.container-datos{
        display: flex;
        flex-direction: column;
        width: 100%; 
        margin-bottom: 15px;       
    }
    div.container-nom-ape-num{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        align-self: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    input.nro-tel{
        margin-top: 10px;
        align-self: center;
        width: 20%;
    }
    div.container-horario{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    div.container-horayfecha{
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-bottom: 10px;
        margin-top: 15px;
        align-self: center;
        justify-content: space-between;
    }
    div.container-cant-personas{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    input.cantidad{
        margin-left: 16px;
    }
    form.reserva label{
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
  
    form.reserva input{
        background-color: rgba(217, 217, 217, 0.6);
        padding: 3px;
        color: black;
    }
    form.reserva input::placeholder{
        color: black;
        opacity: 10;
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }
    .boton-reservar{
        width: 40%;
        border: none;
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        align-self: center;
        margin-top: 25px;
    }
    .boton-reservar:hover{
        background-color: black;
        opacity: 0.7;
        color: white;
        border:none
    }
}