<<<<<<< HEAD

/* # Tablet
only screen and (min-width: 768px) 

# Desktop
only screen and (min-width: 992px)  */
@media only screen and (max-width: 480px) {
    .body{
        background-image: url(../images/fondo-index.jpg);
        height: 100%;
        width: 414px;
        left: 1562px;
        top: -7010px;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       
        

    }
}
body{
    background-image: url(../images/fondo-index.jpg);
    /* background-size: cover; */
}
=======
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    background-color: grey;
    color: white;
    font-size: 20px;
  }

h1 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
    font-size: 35px;
}
>>>>>>> 736117dd6a75b9f266166fbecc2520615927b21e
