<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>OHASHI</title>
    <link rel="stylesheet" href="/css/carrito.css">
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container-productos">
        <div class="producto">
            <div class="container-fotoproducto">
                <img class="imagenproducto" src="/images/imagenes-platos/default.jpg"></img>
            </div>
            <div class="container-descripcion">
                <p class="nombreproductocarrito">PRODUCTO</p>
                <p class="preciocarrito">$$$$$</p>
                <input class="cantidad" type="number"  name="quantity" min="1" max="10">
            </div>
        </div>
    </div>
    <div class="container-resumentotal">
        <div class="container-envio">
            <p>COSTO DE ENVÍO</p>
            <input class="codigopostal" type="adress" name="adress" placeholder="INGRESÁ TU CÓDIGO POSTAL">
        </div>
        <div class="container-subtotal">
            <div class="subtotalyenvio">
                <p>SUBTOTAL</p>
                <p>$$$$$</p>
            </div>
            <div class="subtotalyenvio">
                <p>ENVIO</p>
                <p>$$$$$</p>
            </div>
        </div>
        <div class="container-total">
            <p>TOTAL</p>
            <p>$$$$$</p>
        </div>
    </div>
    <div class="container-botones">
        <input class="botoniniciarcompra" type="submit" value="INICIAR COMPRA">
        <a href="/products/" class="botonvermas">VER MAS PRODUCTOS</a>
    </div>
    <%-include('partials/footer.ejs')%>
</body>
</html>
