
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/index.css">
    <title>OHASHI</title>
</head>
<body>
    <%-include('partials/loader.ejs')%>
    <main>
        <%-include('partials/header.ejs')%>
    </main>
    <%-include('partials/footer.ejs')%>

</body>
</html>