<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/nosotros.css" />
    <title>OHASHI</title>
  </head>
  <body>
    <%-include('partials/loader.ejs')%> <%-include('partials/header.ejs')%>

    <div class="container">
      <div class="container-nosotros">
        <p class="texto-nosotros">
          Bienvenidos a OHASHI, un destino culinario que deleita los paladares
          más exigentes. En nuestro restaurante, nos enorgullece ofrecer una
          experiencia gastronómica única, donde la tradición y la innovación se
          fusionan para crear platos exquisitos. En OASHI, nos apasiona la
          cocina auténtica y el arte de la gastronomía japonesa. Nuestro equipo
          de chefs altamente capacitados combina técnicas clásicas con
          ingredientes frescos y de calidad para crear una variedad de platos
          que deleitan los sentidos. Nuestra carta presenta una amplia selección
          de sushi, sashimi y rolls creativos, elaborados con los ingredientes
          más frescos del mercado. Cada bocado es una explosión de sabores y
          texturas, cuidadosamente preparada para satisfacer incluso los
          paladares más exigentes. Además de nuestra especialidad en sushi,
          también ofrecemos una selección de platos calientes y deliciosas
          opciones vegetarianas. Nuestro menú se adapta a todas las preferencias
          y necesidades dietéticas, asegurando que cada comensal encuentre algo
          que se ajuste a sus gustos. En OASHI, no solo nos preocupamos por la
          calidad de nuestra comida, sino también por brindar un servicio
          excepcional. Nuestro personal amable y atento está comprometido en
          hacer que cada visita sea una experiencia memorable y satisfactoria.
          Ya sea que busque un lugar para una cena romántica, una reunión de
          negocios o una comida con amigos y familiares, OHASHI es el destino
          ideal. Nos esforzamos por crear un ambiente acogedor y elegante donde
          puedas relajarte y disfrutar de una deliciosa comida. Te recomendamos
          visitarnos y descubrir el encanto de OHASHI. Permítenos sorprenderte
          con nuestra cocina de calidad, atención excepcional y un ambiente
          acogedor. ¡Esperamos recibirte pronto en nuestro restaurante!
        </p>
        <p class="texto-nosotros">
          Podras conocer mas sobre nosotros en nuestras redes sociales que se
          encuentran en el pie de pagina de nuestra web
        </p>
      </div>
    </div>

    <%-include('partials/footer.ejs')%>
  </body>
</html>
