<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <link rel="stylesheet" href="/css/nosotros.css">
        <title>OHASHI</title>
    </head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="container-nosotros">
            <p class="texto-nosotros">
                SOMOS UNA EXPERIENCIA DE HOSPITALIDAD Y GASTRONOMÍA JAPONESA EN CONSTANTE MOVIMIENTO. EMPEZAMOS EN 2003, CREANDO EL PRIMER KAITEN SUSHI* LOCAL. DESDE ENTONCES, NOS DEDICAMOS A COCINAR TUS PLATILLOS JAPONESES FAVORITOS, RECIBIENDOTE SIEMPRE, EN UN AMBIENTE ELEGANTE Y AMIGABLE A LA VEZ. CADA DIA SELECCIONAMOS LOS MEJORES INGREDIENTES DE PROVEEDORES LOCALES Y EXTRANJEROS RESPONSABLES CON ARGENTINA Y EL MEDIO AMBIENTE. TRABAJAMOS EN EQUIPO PARA TOCAR POSITIVAMENTE LA VIDA DE NUESTROS COMPAÑEROS E INVITADOS CON PROCESOS SEGUROS, EXCELENTE SERVICIO Y PASION CULINARIA. NOS MUEVE APRENDER, ENSEÑAR Y DESCUBRIR PARA CRECER. CREEMOS EN APROVACHAR LO QUE RECIBIMOS PARA CONVERTIRLO EN ALGO MEJOR. SOBRE TODAS LAS COSAS, SIEMPRE QUEREMOS QUE TENGAS UNA EXCELENTE EXPERIENCIA CON NOSOTROS.
            </p>
        </div>
    </div>
   
    <%-include('partials/footer.ejs')%>
</body>
</html>