<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <link rel="stylesheet" href="/css/pedir.css">
        <title>OHASHI</title>
    </head>
  <body>
    <%-include('partials/loader.ejs')%>
    <%-include('partials/header.ejs')%>
    <div class="container-pedir">
     
    </div>
    <%-include('partials/footer.ejs')%>

  </body>
</html>