<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head.ejs')%>
        <link rel="stylesheet" href="/css/reservar.css">
        <title>OHASHI</title>
    </head>
  <body>
    <%-include('partials/loader.ejs')%>
    <%-include('partials/header.ejs')%>
    <main>
      <h3 class="titulo-reservar">RESERVAR</h3>
      <form class="reserva">
        <div class="container-datos">
          <label>INGRESE SUS DATOS</label>
          <div class="container-nom-ape-num">
            <input type="text" name="name" placeholder="NOMBRE">
            <input type="text" name="lastname" placeholder="APELLIDO">
            
          </div>
          <input class="nro-tel" type="text" name="phone" placeholder="NRO DE TELÉFONO">
        </div>
          <div class="container-horario">
            <label>SELECCIONE FECHA Y HORARIO</label>
            <div class="container-horayfecha">
              <input type="date" name="dia" placeholder="DIA">
              <input type="time" name="hora" placeholder="HORARIO">
            </div>
          </div>
          <div class="container-cant-personas">
            <label>CANTIDAD DE PERSONAS</label>
            <input class="cantidad" type="number"  name="quantity" min="1" max="20">
          </div>
          
          <input class="boton-reservar" type="submit" value="RESERVAR">
      </form>
    </main>

    <%-include('partials/footer.ejs')%>
  </body>
</html>
