<footer>
  <div class="horarios">
    <p>LUNES - JUEVES 20:00 HS. - 00:00 HS.</p>
    <p>VIERNES - SÁBADOS 19:00 HS. - 02:00 HS.</p>
  </div>
  <div class="contactos">
    <a href=""><i class="fa-solid fa-envelope"></i>OHASHIGM@GMAIL.COM</a>
    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>@OHASHIGM</a>
    <a href=""><i class="fa-brands fa-whatsapp"></i>+54348450351</a>
  </div>
</footer>
