<header>
    <div class="container-logo">
        <a href="/"><img class="logo" src="/images/logo.png"></a>
    </div>
    <nav id="menu">
        <ul>
            <li class="cartamenu"><a href="/products/">Menu</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li class="loginli"><a href="/users">Profile</a></li>
            <li class="carritoli"><a href="/products/carrito"><i class="fas fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>